<form [formGroup]="inputForm" (ngSubmit)="onSave()">
  <mat-form-field>
    <mat-label>Mode of Transport</mat-label>
    <mat-select formControlName="mode_of_transport" class="mat-mdc-form-field-input-control">
      <mat-option>--No mode of transport selected--</mat-option>
      <mat-option *ngFor="let transport of modesOfTransport" [value]="transport.id">{{transport.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Distance</mat-label>
    <input matInput placeholder="Ex. 10, 7.5" formControlName="distance" class="mat-mdc-form-field-input-control">
    <span matSuffix> km</span>
  </mat-form-field>
  <br/>
  <button mat-button type="submit">Save</button>
  <button mat-button type="reset">Reset</button>
</form>
