<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Responsive side navigation
</mat-toolbar>

<mat-sidenav-container>

  <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    Responsive side navigation
  </mat-toolbar>
  <mat-sidenav #sidenav="matSidenav">

    <h1 class="name">{{user.name}}</h1>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/overview">
      <mat-icon>home</mat-icon>
      <span>Overview</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/new-calculation">
      <mat-icon>playlist_add</mat-icon>
      <span>New Data</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/my-statistics">
      <mat-icon>insert_chart_outlined</mat-icon>
      <span>My Statistics</span>
    </button>

    <div *ngIf="user?.role == 'Admin'">
      <button mat-button class="menu-button" routerLinkActive="active" routerLink="/statistics-all">
        <mat-icon>show_chart</mat-icon>
        <span>Statistics</span>
      </button>
    </div>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLinkActive="active" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


