<div mat-card-content class="card">
  <mat-card-title class="title">New Data</mat-card-title>
  <form [formGroup]="inputForm" class="content">
    <mat-form-field appearance="fill">
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br/>
    <mat-form-field>
      <mat-label>Transportmodus</mat-label>
      <mat-select formControlName="transportID" class="mat-mdc-form-field-input-control" required>
        <mat-option>--Kein Transportmodus ausgewählt--</mat-option>
        <mat-option *ngFor="let transport of modesOfTransport" [value]="transport.id">{{transport.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Distanz</mat-label>
      <input matInput placeholder="zum Beispiel 7.5" formControlName="distance_km" class="mat-mdc-form-field-input-control"
             required>
      <span matSuffix>km</span>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Reisekategorie</mat-label>
      <mat-select formControlName="trip_category" class="mat-mdc-form-field-input-control" required>
        <mat-option>--Keine Reisekategorie ausgewählt--</mat-option>
        <mat-option *ngFor="let trip_category of trip_categories" [value]="trip_category">{{trip_category}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <button mat-button type="submit" [disabled]="!inputForm.valid" (click)="openDialog()">Save</button>
    <button mat-button type="reset">Reset</button>
  </form>
</div>
