<div class="card">
  <mat-card-title class="title">
    <h1>Anleitung für die Verwendung des Tools:</h1>
  </mat-card-title>
  <mat-card-content>
    <p>
    <mat-list class="my-list">
      <li class="my-list mat-list-item">
        <p>Im Bereich "Neue Eingabe" kannst du jederzeit neue Daten zu deinen Arbeits- und Dienstwegen eingeben:
          Der Arbeitsweg ist der Weg, den du von zu Hause bis zu Arbeit und zurück zurücklegst. Dienstwege sind Wege,
          die du im Auftrag deines Unternehmens durchführst z.B. eine Dienstreise in eine andere Stadt.
          Du musst auch dein Transportmittel wählen und die Anzahl der zurückgelegten Distanz in Kilometern angeben. Im
          Moment stehen nur ein paar Transportmittel für die Berechnung zur Verfügung:
        </p>
        <mat-list>
          <mat-list-item>
            <mat-icon>directions_subway</mat-icon>
            <span>U-Bahn</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>directions_car</mat-icon>
            <span>Auto</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>directions_bike</mat-icon>
            Fahrrad
          </mat-list-item>
          <mat-list-item>
            <mat-icon>directions_bus</mat-icon>
            Bus
          </mat-list-item>
          <mat-list-item>
            <mat-icon>directions_car</mat-icon>
            Taxi
          </mat-list-item>
          <mat-list-item >
            <mat-icon>directions_car</mat-icon>
            Lieferwagen
          </mat-list-item>
        </mat-list>
      </li>
      <li class="my-list">
        <p>Die Berechnung der CO2-Emissionen
          erfolgt über eine externe Schnittstelle <a href="https://www.climatiq.io/">Climatiq.io</a>. Diese verwendet
          zur Berechnung der Emissionen die Emissionsfaktoren des GHG Protocols. Die Emissionsfaktoren werden im <a routerLink="about">Impressum</a> angezeigt.</p>
      </li>
      <mat-list-item>
      <p>Der Bereich "Meine Statistik" gibt einen Überblick über deine CO2-Emissionen.</p>
      </mat-list-item>
      <mat-list-item>
        <p>Der Bereich "Unternehmensstatistik" gibt einen Überblick über die Gesamtemissionen des Unternehmens</p>
        <p></p>
      </mat-list-item>
      <mat-list-item>
        <p>Das Impressumg zeigt einige generelle wichtige Informationen über das Projekt.</p>
      </mat-list-item>

      <mat-list-item class="myButton">
        <button
          mat-stroked-button
          (click)="toNewDataButton()">
          Neue Eingabe
        </button>
      </mat-list-item>
    </mat-list>
    </p>
  </mat-card-content>
</div>
