<div class="mat-card">
<mat-card class="content">
  <mat-card-header class="mat-card-title mat-header-cell">
    <mat-card-title>CO2 Fußabdrucksrechner für Mitarbeiter*Innen</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <mat-select formControlName="id" class="mat-mdc-form-field-input-control">
          <mat-option>--Kein User ausgewählt--</mat-option>
          <mat-option *ngFor="let user of availableUsers" [value]="user.id">{{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <button mat-button type="submit">Anmelden</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
