@use '../node_modules/@angular/material' as mat;
@include mat.core();

$app-primary: mat.define-palette(mat.$green-palette, 500);
$app-accent: mat.define-palette(mat.$brown-palette, 300);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($app-theme);

