<!--dash.component.html-->
<div class="grid-container">
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="300px">
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols"
                   [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="" tooltip="Gesamtemissionen des Unternehmens in Kilogram CO2-Äquivalent">
        <app-admin-mini-card [title]="'Gesamtemissionen des Unternehmens'"
                             [value]="(Math.floor(AdminEmissionChartComponent.sumAllEmissions*100)/100) + ' kg co2e, ' + '\n' + (Math.floor(AdminTransportModesChartComponent.sumAllUsagesOfTransport*100)/100) + ' km'"
        ></app-admin-mini-card>
      </app-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Unternehmensemissionen pro Monat" tooltip="Emissionen aufgeteilt nach Monaten in Kilogramm CO2-Äquivalent. Mit Klick auf den Fahrzeugtyp können die Emissionen pro Fahrzeugtyp pro Monat angezeigt werden.">
        <app-admin-emission-chart></app-admin-emission-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Genutzte Transportmodi des Unternehmens (km und %)" tooltip="Zeigt an, für wieviele Kilometer die Transportmodi im Unternehmen genutzt wurden">
        <app-admin-admin-transport-modes-chart></app-admin-admin-transport-modes-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Gesamtemissionen nach Transporttyp" tooltip="Zeigt die Gesamtemssionen des Unternehmenens kategorisiert nach Transporttyp">
        <app-admin-admin-emissions-per-transportype-chart></app-admin-admin-emissions-per-transportype-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Emissionsvergleich nach Reisekategorie"
                tooltip="Zeigt die Unternehmensemissionen kategorisiert nach Reisekategorie">
        <app-admin-emissions-per-trip-category></app-admin-emissions-per-trip-category>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
